<h1>Add Material</h1>

<form method="post">
    <label>
        Name
        <input name="name" type="text" />
    </label>
    <br />
    <label>
        Artist/Composer
        <input name="artistComposer" type="text" />
    </label>
    <br />
    <label>
        Key
        <input name="keyCenter" type="text" />
    </label>
    <br />
    <label>
        Tempo
        <input name="tempo" type="text" />
    </label>
    <br />
    <label>
        Time Signature
        <input name="timeSig" type="text" />
    </label>
    <br />
    <label>
        Description
        <input name="description" type="text" />
    </label>
    <br />
    <label>
        Mastery
        <input name="mastery" type="number" />
    </label>
    <input type="submit" value="Create Material" />
</form>