@using LiftoffPractice.ViewModels
@model CreateMaterialViewModel;


<h1>Add Material</h1>

<form method="post">
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Name">Name
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </label>
    </div>
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="ArtistComposer">
            By
            <input asp-for="ArtistComposer" />
            <span asp-validation-for="ArtistComposer"></span>
        </label>
    </div>
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="KeyCenter">
            Key
            <input asp-for="KeyCenter" />
            <span asp-validation-for="KeyCenter"></span>
        </label>
    </div>
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Tempo">
            Tempo
            <input asp-for="Tempo" />
            <span asp-validation-for="Tempo"></span>
        </label>
    </div>
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="TimeSig">
            Time Signature
            <input asp-for="TimeSig" />
            <span asp-validation-for="TimeSig"></span>
        </label>
    </div>
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Description">
            Descrption
            <input asp-for="Description" class="description-text"/>
            <span asp-validation-for="Description"></span>
        </label>
    </div>
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Mastery">
            Mastery
            <input asp-for="Mastery" />
            <span asp-validation-for="Mastery"></span>
        </label>
    </div>

    <input type="submit" value="Create Material" />
</form>