@using LiftoffPractice.ViewModels
@model CreateMaterialViewModel;


<h1>Add Material</h1>

<form method="post">
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Name">Name
            <input asp-for="Name" />
        </label>
    </div>
    <br />
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="ArtistComposer">By
            <input asp-for="ArtistComposer" />
        </label>
    </div>
    <br />
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="KeyCenter">Key
            <input asp-for="KeyCenter" />
        </label>
    </div>
    <br />
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Tempo">Tempo
            <input asp-for="Tempo" />
        </label>
    </div>
    <br />
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="TimeSig">Time Signature
            <input asp-for="TimeSig" />
        </label>
    </div>
    <br />
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Description">Descrption
            <input asp-for="Description" />
        </label>
    </div>
    <br />
    <div class="form-group" asp-controller="Home" asp-action="Create">
        <label asp-for="Mastery">Mastery
            <input asp-for="Mastery" />
        </label>
    </div>

    <input type="submit" value="Create Material" />
</form>