<h1>Delete Page</h1>


    <form method="post">
            @foreach (var material in ViewBag.materials)
            {
                <div class="form-group">
                    <label>
                        <span>@material.Name</span>
                        <input type="checkbox" name="materialIds" value="@material.Id" />
                    </label>
                </div>
            }

        <input type="submit" name="Delete Selected Materials" value="Delete Selected Materials" class="btn btn-danger" />
    </form>
