/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0261d1;
}

.btn-primary {
    color: #fff;
    background-color: #0275D8;
    border-color: #1861ac;
}

.btn {
    background-color: #0275D8;
    color: #fff !Important;
    border-width: 2px;
    border-color: #999;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.index-table-all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.index-table {
    width: 80%;
}

.delete-column {
    width: 20%;
}

.field-validation-error {
    color: red;
    font-size: 11px;
}

.description-text {
    /*use this to fix the description box in the add material page*/
}

.profile-nav {
    padding-left: 50px !important;
    text-align: right !important;
}

.detail-add-tag-btn {
    margin: 10px 0px;
}